{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}
    <div>
        <a target="_blank" href="{{ path('properties_download', {'orderField': orderField, 'orderDirection': orderDirection}) }}">
            Download
        </a>
    </div>
    <table>
        <tr>
            {% for header in headers %}
                {% set headerField = header|lower %}
                {% set sortIcon = '&#8597;' %}
                {% set direction = 'asc' %}
                <th>
                    {{ header }}
                    {% if headerField == orderField %}
                        {% set sortIcon = orderDirection == 'asc' ? '&darr;' : '&uarr;' %}
                        {% set direction = orderDirection == 'asc' ? 'desc' : 'asc' %}
                    {% endif %}
                    <a href="{{ path('properties_list', {'orderField': headerField, 'orderDirection': direction}) }}">{{ sortIcon|raw }}</a>
                </th>
            {% endfor %}
        </tr>
        {% for property in properties%}
            <tr>
                <td title="{{ property.id }}">{{ property.id }}</td>
                <td title="{{ property.title }}">{{ property.title }}</td>
                <td title="{{ property.link }}">{{ property.link }}</td>
                <td title="{{ property.city }}">{{ property.city }}</td>
                <td title="{{ property.image }}">{{ property.image }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
