<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Application{% endblock %}</title>
        <style>
            #content {
                margin: 1em auto;
                max-width: 1000px;
                font-family: "Arial Black", Gadget, sans-serif;
            }
            table {
                width: 100%;
            }
            td {
                max-width: 200px;
                overflow:hidden;
                white-space:nowrap;
                text-overflow: ellipsis;
            }
        </style>
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
